[Unit]
Description=Uptime
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/uptime/uptime.py
Restart=on-abort

[Install]
WantedBy=multi-user.target
